<% if user_signed_in? %>


<div class="mt-5">
<h1 class="d-inline ">TODO List</h1>
<p class="d-inline ms-2 fw-bolder"><%=link_to "Create New Category", new_category_path, class:"text-dark text-decoration-none link-primary" %></p> 
<p class="d-inline ms-2 fw-bolder"><%=link_to "Create New Task", new_task_path, class:"text-dark text-decoration-none link-primary" %></p>
<table class="table table-striped table-hover">
  <thead>
    <tr class="bg-dark text-white">
      <th scope="col"><%= link_to "Category", categories_path, class: "text-decoration-none text-white link-primary" %></th>
      <th scope="col">Task</th>
      <th scope="col">Body</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
        <% @categories_tasks.each do |catta|%>
            <% if catta.id == task.category_id %>
            <tr>
                <td><%=link_to catta.title, catta, class:"text-dark text-decoration-none link-primary fw-bold text-uppercase" %></td>
                <td><%= task.title %></td>
                <td><%= task.body %></td>
                <td><%= task.is_completed %></td>
                <td>
                <%= button_to "Delete", task_path(task.id) , method: :delete, class:"btn btn-danger d-inline-block mb-1", style:"width: 35%; font-size: 12px;"%>
                <%= link_to "Edit", edit_task_path(task.id), class:"btn btn-danger d-inline-block mb-1", style:"width: 35%; font-size: 12px;" %>
                <%= link_to "View", task_path(task.id), class:"btn btn-danger d-block ", style:"width: 35%; font-size: 12px;" %>
                </td>
            </tr>
            <% else %>
          
            <% end %>
        <% end %>
    <% end %>
   
  </tbody>
  </div>
  <% else%>
    <div class="card position-absolute top-50 start-50 translate-middle " style="width: 25rem; height: 20rem;">
      <h1 class="text-center my-5">Welcome to your Wonderful Planner!</h1>

      <div class="card-body bg-black text-center pb-4">
      <h5 class="card-title text-white">Planner</h5>
      <p class="card-text text-white">What are you working on today?</p>

      <%= link_to "Sign Up!", new_user_registration_path, class:"btn btn-outline-warning me-2 " %> 
  
      <%= link_to "Login", new_user_session_path, class:"btn btn-outline-warning " %>
      </div>
    </div>
  <% end %>
  <%= @set_category %> 
</table>